{% extends 'members/form_base.html' %}
{% load static %}

{% block content %}
<form class="form-signin" action="{% url 'members:profile' %}" method="POST" enctype="multipart/form-data">
    <a href="{% url 'posts:post_list' %}"><img class="mb-4 text-center" src="{% static 'images/instagram.jpeg' %}" alt="" width="72" height="72"></a>
    {% csrf_token %}
    <div class="mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Profile</h1>
    </div>

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-primary" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}

    {% for field in form %}
    <div class="form-label-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">수정</button>
    <p class="mt-5 mb-3 text-muted text-center">© 띠요오오옹</p>
</form>
{% endblock %}